<div class="container-fluid">
<br><br>
	<form class="form-login" role="form" name="formLogin">
		<h4 class="form-login-heading" style="margin-left:15%;">Enter Your Username</h4>
		<br>
		<br>
		<br>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Username" ng-model="forgotPassword.username" required autofocus />
		</div>


		<button class="btn btn-lg btn-info btn-block" type="submit" ng-click=" forgotPasswordUser()">SEND TO MAIL</button>
          <br> <br>

	</form>
	<br>
	<div style="font-weight: bold; ">
		{{message}}
	</div>


</div>